.ca-cart-wrapper .ca-cart-remove {
    float: left;
}

.ca-cart-wrapper .quantity {
    float: left;
    margin-top: 30px;
}

.ca-cart-wrapper .ca-cart-add{
    float: left;
    margin-left: 20px !important;
}